{# <div class="layout-wrapper">

  <header class="site-header">
    {{ page.header }}
    {{ page.primary_menu }}
  </header>

  <div class="layout-main">
    <aside class="site-sidebar">
      {{ page.sidebar }}
    </aside>

    <main class="site-content">
      {{ page.content }}
    </main>
  </div>

  <footer class="site-footer">
    {{ page.footer }}
  </footer>

</div>
#}